@using PodTalk.DataAccessLayer.Entity;
@model Footer

<div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
    <h6 class="site-footer-title mb-3">Contact</h6>

    <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> @Model.PhoneNumber</p>

    <p>
        <strong class="d-inline me-2">Email:</strong>
        <a href="#">@Model.Email</a>
    </p>
</div>

<div class="col-lg-3 col-md-6 col-12">
    <h6 class="site-footer-title mb-3">Download Mobile</h6>

    <div class="site-footer-thumb mb-4 pb-2">
        <div class="d-flex flex-wrap">
            <a href="#">
                <img src="~/@Model.ImageUrl" class="me-3 mb-2 mb-lg-0 img-fluid" alt="">
            </a>

            <a href="#">
                <img src="~/@Model.ImgUrl" class="img-fluid" alt="">
            </a>
        </div>
    </div>

    <h6 class="site-footer-title mb-3">Social</h6>

    <ul class="social-icon">
        @foreach(var item in Model.SocialMedia)
        {
            <li class="social-icon-item">
                <a href="#" class="@item.Name"></a>
            </li>
        }
       

       
    </ul>
</div>
<div class="container pt-5">
    <div class="row align-items-center">

        <div class="col-lg-2 col-md-3 col-12">
            <a class="navbar-brand" href="/home/index">
                <img src="~/@Model.LogoUrl" class="logo-image img-fluid" alt="templatemo pod talk">
            </a>
        </div>
    </div>
</div>

<div class="col-lg-3 col-12">
    <p class="copyright-text mb-0">
        Copyright © 2036 Talk Pod Company
        <br><br>
        Design: <a rel="nofollow" href="https://templatemo.com/page/1" target="_parent">@Model.DesignedBy</a>
    </p>
</div>


                </div>
            </div>

